<!DOCTYPE html>
        html lang="en"
        head
        meta charset="UTF-8"
        title -- Express Boilarplate

        link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8"
        body
        div
        h1 -- Express Boilerplate
        p -- Uses MarkoJs as View Engine and Stylus as CSS pre-processor
